<%# <!-- /users/sign_in --> %>
<% content_for :extra_tags do %>
<meta name="robots" content="noindex, nofollow">
<% end %>

<%# WIP— Really important comment that will definetely be removed,
once the work has been carried out %>

<div class="flex items-center justify-center min-h-full px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <img class="w-auto h-12 mx-auto" src="/Logo-Black.svg" alt="Logo">
      <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">Log in to your account</h2>

      <% if devise_mapping.registerable? && controller_name != 'registrations' %>
      <p class="mt-2 text-sm text-center text-gray-600">
        Or </p>
        <%= link_to 'Create Account', new_registration_path(resource_name), class: 'font-medium text-orange-primary hover:text-orange-secondary' %>
          
      <% end %>
    </div>
    <%= render 'new' %>
  </div>
</div>
